<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">

</head>
<body ng-app="myApp">
  <div class="container"
    <h1 class="text-center">Homework Angular 2016/NYCDA</h1>
    <div ng-controller="mainCtrl as ctrl">
      <h2>Part 1</h2>
      <label class="radio-inline">
        <input type="radio" name="radio1" id="radio1" value="red" ng-model='ctrl.changeColor'> red
      </label>
      <label class="radio-inline">
        <input type="radio" name="radio2" id="radio2" value="blue" ng-model='ctrl.changeColor'> blue
      </label>
      <label class="radio-inline">
        <input type="radio" name="radio3" id="radio3" value="green" ng-model='ctrl.changeColor'> green
      </label>
      <label class="radio-inline">
        <input type="radio" name="radio4" id="radio4" value="" ng-model='ctrl.changeColor'> none
      </label>
      <br>
      <br>
      <div ng-class="ctrl.changeColor">
        <div class="child_div">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nemo illo est ratione quaerat saepe tenetur. Beatae sunt sequi totam, vitae fuga et quam perferendis, enim nam vel ex! Veritatis!</p>
        </div>
      </div>
       <hr> 
      <h2>Part 2</h2>

      <label class="checkbox-inline">
        <input type="checkbox" ng-model="checked">Folder 1
      </label>
      <a href="#" ng-show="checked">
        <ul ng-repeat="item in ctrl.listOne track by $index">
          <li ng-bind="item"></li>
        </ul>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="listOne"></label>
            <input type="text" class="form-control" id="listOne" ng-value="item" ng-model="ctrl.item" placeholder="Enter Item">
          </div>
          <button type="submit" class="btn btn-default" ng-click="ctrl.addToList()">Add Item</button>
        </form>
      </a>

      <br>
      <br>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="checked">Folder 2
      </label>
      <a href="#" ng-show="checked">
        <ul ng-repeat="item in ctrl.listTwo track by $index" >
          <li ng-bind="item"></li>
        </ul>
        <form id="myForm" class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="listOne"></label>
            <input type="text" class="form-control" id="listOne" ng-value="item" ng-model="ctrl.itemTwo" placeholder="Enter Item">
          </div>
          <button type="submit" class="btn btn-default" ng-click="ctrl.addToOtherList()">Add Item</button>
        </form>
      </a>
      <hr>
      <h2>Part 3</h2>
      <h3 class="text-center">Todo List</h3>
      <ul class="list-unstyled" ng-repeat="task in ctrl.todo track by $index">
        <li>{{$index + 1}}. {{task}} &nbsp;&nbsp; <br>
          <label class="radio-inline" ng-class="ctrl.changeTaskColor">
            <input type="radio" name="radio1" id="radio1" value="red-task" ng-model='ctrl.changeTaskColor'> red
          </label>
          <label class="radio-inline" ng-class="ctrl.changeTaskColor">
            <input type="radio" name="radio2" id="radio2" value="blue-task" ng-model='ctrl.changeTaskColor'> blue
          </label>
          <label class="radio-inline" ng-class="ctrl.changeTaskColor">
            <input type="radio" name="radio3" id="radio3" value="green-task" ng-model='ctrl.changeTaskColor'> green
          </label><br>
          <button type="submit" class="btn btn-warning" ng-click="ctrl.deleteTask($index)">Delete Task</button>
        </li>
      </ul>
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="todo"></label>
          <input type="text" class="form-control" id="todo-list" ng-value="ctrl.task" ng-model="ctrl.task" placeholder="Enter Task">
        </div>
        <button type="submit" class="btn btn-success" ng-click="ctrl.addToTodo(task)">Add Task</button>
      </form>
    </div>  
  </div><!-- container -->
</div><!-- body -->

  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="app.js"></script>
  </head>
</body>
</html> 